<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Two lines of code, done.</h2>
			<h4>Allow your customers to start a conversation from your website. Give meaningful support, custom advice. The service your visitors deserve.</h4>
		</br>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/widget_detail.png" alt="widget detail"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->
