<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Be a good host</h2>
			<h4>Treat your visitors as guests. Allow them to start a conversation while navigating through our website. The better you service your visitors, the more chances to become clients.</h4>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/widget_detail.png" alt="widget detail"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->
