<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Save your intution for what you can't meassure</h2>
			<h4>Stay on top of your company's communications. Monitor the quality of your company's Service (KPI). Make good decissions based on data.</h4>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/imac2013_left_kpi.png" alt="kpi detail"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->
