<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section class="row">
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<!-- <li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li> -->
				<li><img src="{{ site.baseurl }}/images/img-01.png" alt="destop and mobile"/></li>
			</ul>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-left">
			<h2>Don't miss any chance.</h2>
			<h4>Answer your customer's inquiries immediately from your desktop or while on the go with Let's Talk for Business App</h4>
			</br>
			</br>
				<a href="https://itunes.apple.com/us/app/lets-talk-business/id924911737?mt=8" target="_blank"><img src="{{ site.baseurl }}/images/appstore-btn.svg" class="app-button"></a>
		</div>
	</div>
</section>
<!--==========-->
