<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Tailored to your needs</h2>
			<h4>Display available Company's Services to better address your customer's needs. Set automated responses and assignation rules.</h4>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/widget_inquiries_imac.png" alt="inquiries detail"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->
