<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section class="row">
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<!-- <li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li> -->
				<li><img src="{{ site.baseurl }}/images/imac2013_front_report.png" alt="reports"/></li>
			</ul>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-left">
			<h2>Your data at your finger tips.</h2>
			<h4>Keep a record of all your company's conversations with customers. You can double or triple check any record at any time.</h4>
			<h4>Client's satisfaction, conversation subject, locations, agents involved, duration, etc. Download data into your favourite software.</h4>
		</div>
	</div>
</section>
<!--==========-->
