<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Una aplicación web de escritorio.</h2>
			<h4>Responde a tus clientes desde tu escritorio. Con una interfaz diseñada especialmente para la atención al cliente. La aplicación web no requiere ningún tipo de instalación, no se requiere del departamento de informática.</h4>
		</br>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/loan_desktop.png" alt="Slide Image"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->
