// Breakpoints
// Grid
// Container
// Columns

// Color palette
// Color system
// Color themes
// Fonts
// Scaffold

// --------------------------


// Breakpoints

$size-xsmall:          480px !default; // to phone
$size-small:           768px !default; // from phone to tablet
$size-medium:          992px !default; // from tablet to desktop
$size-large:          1200px !default; // from desktop to larger
$size-xlarge:         1400px !default; // from larger

$breakpoints: (
  xs:   $size-xsmall,
  sm:   $size-small,
  md:   $size-medium,
  lg:   $size-large,
  xl:   $size-xlarge,
);


// Base grid

$unit:                8px !default;
$half:                $unit / 2 !default;

$space-x0_5:          $unit * 0.5;   //   4px
$space-x1:            $unit * 1;     //   8px
$space-x1_5:          $unit * 1.5;   //  12px
$space-x2:            $unit * 2;     //  16px
$space-x3:            $unit * 3;     //  24px
$space-x4:            $unit * 4;     //  32px
$space-x5:            $unit * 5;     //  40px

$space-x10:           $unit * 10;    //  80px
$space-x15:           $unit * 15;    // 120px
$space-x20:           $unit * 20;    // 160px
$space-x30:           $unit * 30;    // 240px

$spacers: (
	0:      0,
	x0_5:   $space-x0_5,
	x1:     $space-x1,
	x1_5:   $space-x1_5,
	x2:     $space-x2,
	x3:     $space-x3,
	x4:     $space-x4,
	x5:     $space-x5,

	x10:    $space-x10,
	x15:    $space-x15,
	x20:    $space-x20,
	x30:    $space-x30
);


// Container

$container-margin:     $space-x2;
$container-md-margin:  $space-x3;
$container-lg-margin:  $space-x4;

$container-xs:         320px;  //   40x
$container-sm:         480px;  //   60x
$container-md:         800px;  //  100x
$container-lg:         1100px; // ~136x
$container-xl:         1440px; //  180x

$container-fluid:      100%;
$container-fixed:      960px;  //  120x


// Columns

$column-count:  12;
$column-gutter: $space-x4;
$column-size:   100%/$column-count;


// Color palette

$white:                      #fff !default;
$black:                      #000 !default;

$blue:                       #007bff !default;
$indigo:                     #6610f2 !default;
$purple:                     #6f42c1 !default;
$pink:                       #e83e8c !default;
$red:                        #dc3545 !default;
$orange:                     #fd7e14 !default;
$yellow:                     #ffc107 !default;
$green:                      #28a745 !default;
$teal:                       #20c997 !default;
$cyan:                       #17a2b8 !default;

$brand-accent:            #FF008C;
$brand-altern:            #662482;


// Color system

$color-accent:               $brand-accent !default;
$color-altern:               $brand-altern !default;
$color-default:              rgba($black,.8) !default;

$color-success:              $green !default;
$color-info:                 $cyan !default;
$color-warning:              $yellow !default;
$color-danger:               $red !default;

$color-background:           $white !default;
$color-foreground:           rgba($black,.9) !default;


// Color themes

$theme-light:                $color-foreground !default;
$theme-dark:                 $color-background !default;

$color-dark-primary:         rgba($theme-light,.9);
$color-dark-secondary:       rgba($theme-light,.7);
$color-dark-disabled:        rgba($theme-light,.3);
$color-dark-hint:            rgba($theme-light,.3);
$color-dark-divider:         rgba($theme-light,.1);

$color-light-primary:        $theme-dark;
$color-light-secondary:      rgba($theme-dark,.8);
$color-light-disabled:       rgba($theme-dark,.4);
$color-light-hint:           rgba($theme-dark,.4);
$color-light-divider:        rgba($theme-dark,.2);



// Fonts

$font-family-montserrat:     'Montserrat', sans-serif;
$font-family-opensans:       'Open Sans', sans-serif;

$font-family-sans-serif:      -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji" !default;
$font-family-monospace:       SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace !default;
$font-family-base:            $font-family-opensans !default;
$font-family-title:           $font-family-montserrat !default;

$font-weight-light:           300 !default;
$font-weight-normal:          400 !default;
$font-weight-bold:            700 !default;
$font-weight-base:            $font-weight-normal !default;

$line-height-base:            1.5 !default;

$font-size-base:              1rem !default; // Assumes the browser default, typically `16px`

$font-size-mega:              52px;
$line-height-mega:            $unit * 7;
$font-size-jumbo:             44px;
$line-height-jumbo:           $unit * 7;
$font-size-display:           32px;
$line-height-display:         $unit * 6;
$font-size-headline:          24px;
$line-height-headline:        $unit * 4;
$font-size-headline:          24px;
$line-height-headline:        $unit * 4;
$font-size-body:              16px;
$line-height-body:            $unit * 3;
$font-size-footnote:          14px;
$line-height-footnote:        $unit * 2;


// Scaffold

$body-bg:                     $color-background !default;
$body-color:                  rgba($theme-light,.9) !default;


// Forms

// $input-background:            white;
// $input-border:                1px solid #DDD;
// $input-radius:                3px;

$button-border:                1px solid transparent;
$button-radius:                $space-x2;

$input-background:            rgba($color-default,.05);
$input-border:                1px solid transparent;
$input-radius:                $space-x1_5;
