<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Desktop Web App.</h2>
			<h4>Answer all questions from customers from your desktop with this Agent Interface. 100% web, no IT departments involved.</h4>
		</br>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/loan_desktop.png" alt="Slide Image"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->
