<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<!-- <li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li> -->
				<li><img src="{{ site.baseurl }}/images/loan.png" alt="Slide Image 2"/></li>
			</ul>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-left">
			<h2>An app for your clients, an app for your Agents.</h2>
			<h4>Answer your customers immediately no matter where you are.
				</br>
				Let's Talk for Business App allows 100% mobile instant messaging between your company and your customers.</h4>
		</br>
			<a href="https://itunes.apple.com/us/app/lets-talk-business/id924911737?mt=8" target="_blank"><img src="{{ site.baseurl }}/images/appstore-btn.svg" class="app-button"></a>
		</div>
	</div>
</section>
<!--==========-->
