<!--== CSS Files ==-->
    <link href="{{ site.baseurl }}/css/bootstrap.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}/css/style.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}/css/animate.min.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}/css/font-awesome.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}/css/flexslider.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}/css/fancySelect.css" rel="stylesheet" media="screen">
    <link href="{{ site.baseurl }}/css/responsive.css" rel="stylesheet" media="screen">

    <!-- favicon -->
    <link rel="shortcut icon" href="{{ site.baseurl }}/images/favicon.ico" />

    <!--== Google Fonts ==-->
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Belgrano' rel='stylesheet' type='text/css'>

    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    <script src="{{ site.baseurl }}/js/jquery-2.1.0.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?sensor=false"></script>
    {% include google-analytics.html %}
