/* NAVBAR */
/* ========================================================================== */

.navbar {
	position: absolute;
	width: 100%;
	padding: $space-x3 0;
}

.navbar-brand {
	display: inline-block;
	margin: 0;
}

.navbar-menu {
	margin: 0;

	.menu-item-link:hover {
		text-decoration: underline;
	}
}
