/* WEBSITE */
/* ========================================================================== */

.navbar-menu {
    margin-top: $space-x1;
}

.section {
	padding-top: $space-x20;
}

// Illustrations

.graphic-webchat {
	width: 110%;
	position: absolute;
	top: -15%;
	right: -30%;
}
.graphic-overview {
	position: absolute;
	width: 200%;
	top: -40%;
	left: 10%;
}
.graphic-contact {
	position: absolute;
	top: 40%;
	right: -10%;
}

.graphic-plant-mini   { width: 100%; }
.graphic-plants-large { width: 100%; }
.graphic-plants-small { width: 100%; }
.graphic-selknam      { width: 100%; }

// Backgrounds

.graphic-background-top {
	width: 60%;
	position: absolute;
	opacity: .5;
	z-index: -1;
	right: -5%;
	top: 0;
}

.graphic-background-bottom {
	width: 100%;
}


#featured {
	height: 100vh;
	min-height: 760px;
	padding: $space-x10 0;
	display: flex;
	align-items: center;
}

#overview {}
#contact {}
#footer {}
