<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>  
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title> {{ site.es.site_name }} - {{ site.es.title }} </title>

    <!-- OGP -->
    <meta property="og:title" content="{{ site.es.title }}" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{ site.url }}" />
    <meta property="og:image" content="{{ site.url }}{{ site.baseurl }}/images/og_card_en.png" />
    <meta property="og:description" content="{{ site.es.description }}" />

    <!-- facebook app -->
    <meta property="fb:app_id" content="{{ site.people.app_id}}">


    <!-- twitter card -->
    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="{{ site.twitter_username }}">
    <meta name="twitter:title" content="{{ site.title }}">
    <meta name="twitter:description" content="{{ site.es.description }}">
    <meta name="twitter:creator" content="{{ site.twitter_username }}">
    <meta name="twitter:image" content="{{ site.baseurl }}/images/coffee_man.jpg">
    
    {% include general-head.html %}
    
</head>