<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<!-- <li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li> -->
				<li><img src="{{ site.baseurl }}/images/iphone6_nexus4_chat.png" alt="Slide Image 2"/></li>
			</ul>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-left">
			<h2>A messenger to stay close to your customers.</h2>
			<h4>No more phone calls, no more mails. Chat with your customers fast and directly. The way the always wanted to.</h4>
				</br>
		</br>
					<a class="btn btn-small" href="{{ site.baseurl }}/es/messenger/">Mira los grandes detalles...</a>
		</div>
	</div>
</section>
<!--==========-->
