<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Dos líneas de código y listo.</h2>
			<h4>Permite a tus clientes iniciar una conversación desde tu sitio web. Dales soporte y consejos, el servicio que tus visitas merecen.</h4>
			</br>
			</br>
			<a class="btn btn-small" href="{{ site.baseurl }}/es/webchat/">Quiero saber más...</a>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/widget_detail.png" alt="widget detail"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->
