<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section class="row">
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<!-- <li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li> -->
				<li><img src="{{ site.baseurl }}/images/img-01.png" alt="destop and mobile"/></li>
			</ul>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-left">
			<h2>No pierdas una oportunidad</h2>
			<h4>Responde las dudas de tus clientes inmediatamente desde tu escritorio o desde la App móvil Let's Talk Bussines mientras estás en terreno.</h4>
			</br>
			</br>
				<a href="https://itunes.apple.com/us/app/lets-talk-business/id924911737?mt=8" target="_blank"><img src="{{ site.baseurl }}/images/appstore-btn.svg"></a>
		</div>
	</div>
</section>
<!--==========-->
