<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Ajustado a tus necesidades</h2>
			<h4>Personaliza y muestra los servicio de empresa. Define reglas para respuestas automáticas y asignación de agentes.</h4>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/widget_inquiries_imac.png" alt="kpi detail"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->
