<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Guarda tu intuición para lo que no puedes medir</h2>
			<h4>Supervisa las comunicaciones de tu empresa. Monitorea la calidad de servicio, el performance de tus agentes y otros indicadores (KPI). Toma buenas decisiones basándote en datos.</h4>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/imac2013_left_kpi.png" alt="kpi detail"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->
