<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section id="image-slider" class="row">
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-right">
			<h2>Sé un buen anfitrión</h2>
			<h4>Permite a tus visitantes iniciar una conversación mientras navegan tu sitio. Al entregar un mejor servcio a tus visitantes aumentan las posibilidades de convertirlos en clietes.</h4>
		</div>
	</div>
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<li><img src="{{ site.baseurl }}/images/widget_detail.png" alt="widget detail"/></li>
			</ul>
		</div>
	</div>
</section>
<!--==========-->
