<!--===============================-->
<!--== Image Slider ===============-->
<!--===============================-->
<section class="row">
	<div class="col-md-7 col-sm-12">
		<div class="flexslider">
			<ul class="slides">
				<!-- <li><img src="{{ site.baseurl }}/images/img-01.png" alt="Slide Image"/></li> -->
				<li><img src="{{ site.baseurl }}/images/imac2013_front_report.png" alt="reports"/></li>
			</ul>
		</div>
	</div>
	<div class="col-md-5 col-sm-12">
		<div class="section-header text-left">
			<h2>Tus datos al alcance de tu mano.</h2>
			<h4>Mantén registro de todas las conversaciones de tu empresa. Revisa cualquier conversación cuantas veces quieras.</h4>
			<h4>Chequea de cada conversación la satisfacción de tus clientes, el tema de la conversación, la ubicación, los agentes involucrados, la duración, etc. DEscarga los datos a tu herramienta de análisis favorita.</h4>
		</div>
	</div>
</section>
<!--==========-->
